/* App Specific Styles */

main{
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  background-color: #ff6600;
}

main .left,
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left{
  background-color: black;
  position: relative;
  border: 1px solid #ffffffff;
}

.left .code, .code pre, code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  overflow: auto;
  background-color: #22222200;
}

main .right{
  background-color: rgba(255, 255, 255, 0.863);
  overflow: auto;
  padding: 0.75rem 2rem;
}


/* Loading */

.loading {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 40vh auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}



/* Magic Wand Animation */

main .left .reviewBtn{
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  color: black;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.animate {
  animation: moveAround 3s;
  color: white;
}

@keyframes moveAround {
  0% { transform: translateY(0); }
  25% { transform: translateY(-50vh); }
  40% { transform: translateY(-50vh) rotate(-25deg) scale(2); }
  45% { transform: translateY(-50vh) rotate(25deg); }
  50% { transform: translateY(-50vh) rotate(-25deg) scale(2); }
  55% { transform: translateY(-50vh) rotate(25deg); }
  60% { transform: translateY(-50vh) rotate(-25deg) scale(2); }
  65% { transform: translateY(-50vh) rotate(25deg)}
  100% { transform: translateY(0); }
}




/* ScrollBars Settings */

.right pre {
  overflow-x: auto;     /* horizontal scroll */
  white-space: pre;     /* preserve code formatting */
  background: #000000;
  border: 1px solid #ffffffff;
  border-radius: 0.5rem;
}

.left .code::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  background-color: transparent;
}
.left .code::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.left .code::-webkit-scrollbar-track{
  margin: 5px;
}


.right::-webkit-scrollbar, .right pre code::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  background-color: transparent;
}
.right::-webkit-scrollbar-thumb{
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 20px;
}
.right pre code::-webkit-scrollbar-thumb{
  background-color: rgba(143, 142, 142, 0.5);
  border-radius: 20px;
}
.right::-webkit-scrollbar-track, .right pre code::-webkit-scrollbar-track{
  margin: 5px;
}


/* Device Responsiveness  */

@media (max-width: 425px) {
  main {
    flex-direction: column;
  }
  
  main .left,
  main .right {
    flex-basis: 100%;
    height: 50%;
  }
  
  .section.active {
    height: 70%;
    flex-basis: 70%;
  }

  .section:not(.active) {
    height: 30%;
    flex-basis: 30%;
  }
  
  main .left .reviewBtn {
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  .loading{
    margin: 15vh auto;
  }

  @keyframes moveAround {
  0% { transform: translateX(0); }
  25% { transform: translateX(-30vh); }
  40% { transform: translateX(-30vh) rotate(-180deg) scale(2); }
  45% { transform: translateX(-30vh) rotate(-140deg); }
  50% { transform: translateX(-30vh) rotate(-180deg) scale(2); }
  55% { transform: translateX(-30vh) rotate(-140deg); }
  60% { transform: translateX(-30vh) rotate(-180deg) scale(2); }
  65% { transform: translateX(-30vh) rotate(-140deg)}
  100% { transform: translateY(0); }
}
}